:root{
    --text: #F2F2F3;
    --background: #0B0B0D;
}
*{
    margin: auto;
    cursor: default;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    color:var(--text);
    overflow-x:hidden;
}
h1{
    font-size: 96px;
    font-weight: bold;
}
h2{
    font-size: 64px;
    font-weight: bold;
}

h3{
    font-size: 32px;
}
p{
    font-size: 24px;
}
body, html{
    background-color: #0B0B0D;
    position: relative;
    height: 100%;
    margin: 0;
    color: aliceblue;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}

/* PARTE DO NAV  */

#topo ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#topo ul li{
    position: relative;
    display: contents;
}


/* PARTE QUE ESTÁ O INICIO */
#inicio{
    background-image: url(imagens/Background\ Paris.png);
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
}
#topo{
    margin: 0;
    padding: 50px 0px;
    font-size: 1.3em;
}
#topo ul li{
    width: 100%;
    text-align: center;
    float: left;
    list-style: none;
    position: relative;

}
li a{
    color: aliceblue;
    text-decoration: none;
}
main{
   margin-top: 158px;
}
main p{
    font-size: 2em;
    width: 100%;
    height: 100%;
    text-align: center;
    color: aliceblue;
}
h1{
    font-size: 4em;
    text-align: center;
    color: aliceblue;
}




/* PARTE QUE ESTA AS REGRAS */
#regra{
    position: relative;
    height: auto;
    text-align: center;
}
#meio{
    display: flex;
}
#regra h2{
    margin: 50px 0px;
}
#regra .conteudo{
    margin: 50px 80px;
}
#regra #meio li{
    position: relative;
}
#regra #meio li img{
    display: block;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 100px;
}
#regra #meio p{
    position: absolute;
    width: 100%;
    top: 27%;
}
@media(max-width: 800px) {
    #meio{
     display: block;
    }
    #meio li{
        margin-top: 10px;
    }
    .falta{
        margin-bottom: 100px;
    }
}




/* A PARTE QUE ESTÁ A HISTORIA */
#historia{
    height: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #0B0B0D;
    background-color: #0B0B0D;

}
#historia h2{
    text-align: center;
    margin: 50px 0px;
}
#historia ul{
    margin: 50px 0px;
}
#historia ul li{
    text-indent: 20px;
    display: block;
    text-align: center;
}
#historia ul .conteudo{
    margin: 50px 80px;
}
#historia ul li img{
    border-radius: 15px;
}


/* FOOTER */
#footer{
    height: 100%;
    background-image: url(imagens/Background\ FooterParis.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
footer {
    width: 100%;
    text-align: end;
    position: absolute;
    bottom: 0;

}

footer li{
    margin-right: 80px;
    padding-bottom: 25px;
}
footer p{
    text-align: center;
    font-size: 1.2em;
    word-spacing: 75px;
    margin-left: -195px;
}
footer ul li a{
    cursor: pointer;
}
