:root{
    --text: #F2F2F3;
    --background: #0B0B0D;
}

*{
    margin: auto;
}

html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: url(imagens/Início.png);
    position: flex;
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-decoration: none;
    font-size: 1rem;
}

body #topo{
    margin: 0px;
    text-align: center;
    padding: 50px;
}

section{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
li{
    float: left;
    list-style: none;
}

li a{
    color: var(--text);
    text-decoration: none;
}

main{
   margin-top: 158px;
}

p{
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--text);
}

h1{
    font-size: 6em;
    text-align: center;
    color: var(--text);
    font-weight: bold;
}

h2{
    font-size: 4rem;
    font-weight:bold;
    text-align: center;
    color:var(--text);
}


.logo-olim{
    width: 86px;
    height: 83px;
}

.header-text {
    font-size: 1.5rem;
    font-weight: bold;
}